.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center_v {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontally {
  display: flex;
}

.profile_body {
  flex-direction: column;
  max-width: 1300px;
}

.main_body {
  display: flex;
}

.left_sidebar {
  width: 40%;
}

.posts {
  width: 60%;
}
